body {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
    font-family: -webkit-pictograph;
    box-sizing: border-box;
    min-width: 100%;
}
.hidem{
    display: none;
}
.fixed-btn {
    position: fixed;
    top: 92%;
    right: 0;
    left: 86%;
    z-index: 1030;
}